/*style.css*/

body
{
   background-color: #acb5ed;
   
}

div.container
{
   background: #7582d2 url('/images/beautiful_brisbane_blue.jpg') center no-repeat fixed;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   padding-top: 25px;
   padding-bottom: 25px;
   border: 5px outset #939ddc;
}

div.container > h1 a,
div.container > h1 a:visited,
div.container > h1 a:active
{
   color: white;
   
}

nav.navbar.navbar-default,
div.container > h1 a
{
 
   background: white url('/images/beautiful_brisbane_grey.jpg') center no-repeat fixed;
}

div.container > h1 a
{
   
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}



body, h1
{

   font-family: 'Prosto One', cursive;
  
}

#body_container
{
   width: 1200px;
}

@media screen and (max-width: 560px)
{
   h1 { font-size: 20px }
}


