/*style.css*/

body
{
   background-color: #acb5ed;
   color: #777;
   
}

div.container
{
   background: #7582d2 url('/images/beautiful_brisbane_blue.jpg') center no-repeat fixed;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   padding-top: 25px;
   padding-bottom: 25px;
   border: 5px outset #939ddc;
}

div.container > h1 a,
div.container > h1 a:visited,
div.container > h1 a:active
{
   color: white;
   
}

nav.navbar.navbar-default,
div.container > h1 a,
div.main-content
{
 
   background: white url('/images/beautiful_brisbane_grey.jpg') center no-repeat fixed;
}

div.container > h1 a
{
   
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}



body, h1
{

   font-family: 'Prosto One', cursive;
  
}

#body_container
{
   width: 1200px;
}
/********  Global Styles *********/

a { color: #5085b7 }

/* override margin
top for page headings
*/

a:hover
{
   text-decoration: none;
}

h2:first-child
{
   margin-top: 0px;
}
/* this is the main 
block container for 
content */

div.main-content
{
   width:100%;
   padding: 20px;
}


/********  Nav Styles *********/

.bx-wrapper
{
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.nav_container .navbar,
div.main-content
{
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 0px !important;
   border-bottom-left-radius: 0px !important;
}

/********  Slider Styles *********/

.slider_floating_info
{
   position: absolute;
   top: 0px;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.slider_floating_info .slider_container h1
{
   
   text-align: center;
   
  
}

.slider_floating_info .slider_container
{
   
   text-align: center;
   border: 10px solid white;
   padding: 50px;
   background-color: #acb5ed;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   opacity: 0.9;
}

.slider_floating_info .slider_outer
{
   border: 1px solid #c8c8c8;
   
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
}


@media screen and (max-width: 560px)
{
   h1 { font-size: 20px }
}


